DJANGO_SECRET_KEY=change-this-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=summarix-ai.onrender.com
CORS_ALLOWED_ORIGINS=https://astounding-quokka-7835b1.netlify.app
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL=gpt-4o-mini
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
